@keyframes shake {
  0% { transform: translate(1px, 1px); }
  20% { transform: translate(-3px, 0px); }
  40% { transform: translate(1px, -1px); }
  60% { transform: translate(-3px, 1px); }
  80% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, -2px); }
}
